:host {
  background-color: white;
}

.mat-dialog-header {
  align-items: center;
  cursor: move;
  display: flex;
  justify-content: space-between;
  position: relative;

  h1 {
    margin: 0;
  }

  .dialog-control-actions {
    position: absolute;
    top: -20px;
    right: -20px;
  }
}

.mat-dialog-content {
  height: 100%;
}
