<div
  class="mat-dialog-header"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  [attr.data-dialog-id]="dialogId"
  (click)="handleHeaderClick($event)"
>
  <h1
    mat-dialog-title
  >
    {{ title || data.name }}
  </h1>
  <button
    (click)="handleCloseDialog($event)"
    mat-icon-button
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>The <b>{{ data.name }}</b> element weights <b>{{ data.weight }}</b> and has <b>{{ data.symbol }}</b> as symbol!</p>
</div>
<div mat-dialog-actions>
  <button mat-button>Action1</button>
  <button mat-button>Action2</button>
</div>
