<div [attr.data-dialog-id]="dialogId" (click)="handleHeaderClick($event)" (dblclick)="handleMaximizeDialog($event)">
  <div class="mat-dialog-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h1 mat-dialog-title>
      {{ title || data.name }}
    </h1>
    <div class="dialog-control-actions">
      <button
        (click)="handleMinimizeDialog($event)"
        mat-icon-button
      >
        <mat-icon>minimize</mat-icon>
      </button>
      <button
        (click)="handleMaximizeDialog($event)"
        mat-icon-button
      >
        <mat-icon>web_asset</mat-icon>
      </button>
      <button
        (click)="handleCloseDialog($event)"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <p>The <b>{{ data.name }}</b> element weights <b>{{ data.weight }}</b> and has <b>{{ data.symbol }}</b> as symbol!</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button>Action1</button>
    <button mat-button>Action2</button>
  </div>
</div>
